:root {
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-bg-dark: #0f172a;
  --color-bg-panel: #1e293b;
  --color-text-main: #f8fafc;
  --color-text-muted: #94a3b8;
  
  --font-main: 'Tajawal', sans-serif;
  
  --header-height: 4rem;
  --sidebar-width: 16rem;
}